<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="post" action="/item/add">
    <p>Nazwa: <input id="name" path="name"/></p>
    <p>Rodzaj: <input id="type" path="type"/></p>
    <p>Opis: <input id="description" path="description"/></p>
    <p>Ilość: <input id="quantity" path="quantity" /></p>
<!--    <p><select path="location" items="${locations}" multiple="false"/></p>&ndash;&gt;-->
    <p><button type="submit" value="Save">Save</button></p>
</form>
<script language="javascript" type="text/javascript" charset="UTF-8"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/add_item.js"></script>
</body>
</html>