<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wszystkie elementy</title>
</head>
<body>
<h2>Wszystkie elementy</h2>
<table border="1">
    <tr>
        <th>Nazwa/wartość</th>
        <th>Rodzaj</th>
        <th>Opis</th>
        <th>Ilość</th>
        <th>Lokalizacja</th>
    </tr>
</table>
<script language="javascript" type="text/javascript" charset="UTF-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/all_item.js"></script>
</body>
</html>